/* 未使用コード
Prefecture.JSXのCSS */
/* .searchPrefecture{
  display: flex;
  width: 100%;
  height: auto;
}
.searchPrefecture ul{
  list-style-type: none;
}
.searchPrefecture li{
  display: inline-block;
}
.searchPrefecture h5{
    font-size: 15px;
    margin-top: 5px;
  }
.searchPrefecture a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
  padding: 0px 15px;
  }
未使用コード
PrefectureのCSS 
   .gerendeFlex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .articleWrapper {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 4px;
    padding-bottom: 50px;
    color: #444444;
  }
  
  .wrapperTop {
    width: 100%;
    height: 200px;
    background-image: url(../public/Top.jpg);
    background-size: cover;
  }
  
  .wrapperBottom {
    width: 100%;
    height: 100px;
    background-color: white;
  }
  
  
footerのCSS
 .footer {
  width: 100%;
  height: 72px;
  color: #efefef;
  background-color: #3d3d3d;
  padding: 15px 0;
}
.footer a {
  text-decoration: none;
  color: #efefef;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer .menu li {
  margin: 0;
  padding: 0 20px;
  border-left: 1px #808080 solid;
}

.footer .menu li:first-child {
  padding-left: 0;
  border: none;
}

.footer .footerMessage {
  margin: 0;
  float: left;
  color: #efefef;
}

.footerMessage {
 padding-top: 10px;
} */ 
